{% extends 'base.html' %}

{% block content %}
    <h1>Login</h1>
    {% include 'msg.html' %}
    <section class="my-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="{% url 'login_page' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" name="username" class="form-control" id="username" required>
                        </div>
                        <div class="mb-4">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
